.suggestions__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  border: 0.1rem solid var(--clr-default-300);
  border-radius: 0.8rem;
  padding: 3rem;

  &-text {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  &-title {
    font-weight: 300;
    font-size: fluid(3.2rem, 2rem);
  }

  &-description {
    max-width: 47rem;
    p {
      font-weight: 300;
      line-height: 150%;
    }
  }

  &-image {
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: em(575)) {
    padding: 2rem;
  }
}
