.header {
  display: flex;
  align-items: center;
  min-height: 10rem;

  @media (max-width: em(767)) {
    min-height: 7rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    @media (max-width: em(1100)) {
      margin-left: auto;
    }

    @media (max-width: em(575)) {
      display: none;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      li {
        svg {
          fill: var(--clr-default-200);
          stroke: var(--clr-default-200);
        }

        &:hover {
          svg {
            fill: var(--clr-default-400);
            stroke: var(--clr-default-400);
            transition: stroke var(--transition);
          }
        }
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid var(--clr-default-200);
    border-radius: 3rem;
    min-width: 22rem;
    min-height: 5rem;
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--clr-default-200);
    transition: border var(--transition);

    &:hover {
      border: 0.2rem solid var(--clr-default-400);
      transition: border var(--transition);
    }
  }
}
